#app {
  position: relative;
}

#maps {
  height: 600px;
  background: #aaf;
}

#search {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  width: 400px;
  background: #fff;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

#googleMap {
  height: 100%;
}
