html, body, #maps, .container-fluid {
  height: 100% !important;
}

#maps {
  background: #aaf;
}

#googleMap {
  height: 100%;
}

.sidebar {
  position: absolute;
  top: -300px;
  right: 0;
  height: 300px;
  width: 600px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;
  transition-duration: 0.5s;
  text-align: center;
}

.sidebar::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 85px;
  height: 20px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 10px;
  background: #fff;
  content: "hover me";
}

.sidebar:hover {
  top: 0;
}

.sidebar > div {
  margin: 10px 0;
  height: 280px;
  overflow-y: auto;
}

.sidebar .header {
  background: white;
}

.sidebar ul li .glyphicon {
  display: none;
}

.sidebar ul li.selected .glyphicon {
  display: inline;
}

.table tbody tr {
    cursor: pointer;
}

.table-striped tbody tr.selected td { background-color: aquamarine; }
.table-striped tbody tr.highlight td { background-color: bisque; }
