html, body, #maps, .container-fluid {
  height: 100% !important;
}

#maps {
  background: #aaf;
}

#googleMap {
  height: 100%;
}

.sidebar {
  position: absolute;
  top: -400px;
  right: 0;
  height: 400px;
  width: 600px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;
  transition-duration: 0.5s;
  text-align: center;
}

.sidebar::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 85px;
  height: 20px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 10px;
  background: #fff;
  content: "SEARCH";
}

.sidebar:hover, .sidebar.pinned {
  top: 0;
}

.toolbar {
  position: relative;
  display: table;
}

.toolbar > div {
  display: table-cell;
  padding-right: 8px;
  vertical-align: top;
}

.toolbar .btn-group {
  vertical-align: inherit;
}

.sidebar #siteData {
  margin: 10px 0;
  height: 280px;
  overflow-y: auto;
}

.sidebar .header {
  background: white;
}

#currentPage {
  font-weight: bold;
  background-color: #aaf;
}

.sidebar ul li .glyphicon {
  display: none;
}

.sidebar ul li.selected .glyphicon {
  display: inline;
}

.table tbody tr {
    cursor: pointer;
}

.sidebar .table-hover tbody tr:hover { background-color: bisque; }
.table-striped tbody tr.selected td { background-color: aquamarine; }
